@import './_reset.css';
@import './_vue.css';

:root {
  --unit: 8px;
  --header-height: 66px;

  /* space */
  --space-72: calc(var(--unit) * 9);
  --space-64: calc(var(--unit) * 8);
  --space-56: calc(var(--unit) * 7);
  --space-48: calc(var(--unit) * 6);
  --space-40: calc(var(--unit) * 5);
  --space-32: calc(var(--unit) * 4);
  --space-24: calc(var(--unit) * 3);
  --space-16: calc(var(--unit) * 2);
  --space-12: calc(var(--unit) * 1.5);
  --space-8: calc(var(--unit) * 1);
  --space-4: calc(var(--unit) * 0.5);
  --space-2: calc(var(--unit) * 0.25);
  /* font-size */
  --font-size-32: calc(var(--unit) * 4);
  --font-size-28: calc(var(--unit) * 3.5);
  --font-size-24: calc(var(--unit) * 3);
  --font-size-20: calc(var(--unit) * 2.5);
  --font-size-18: calc(var(--unit) * 2.25);
  --font-size-16: calc(var(--unit) * 2);
  --font-size-14: calc(var(--unit) * 1.75);
  --font-size-12: calc(var(--unit) * 1.5);
  --font-size-10: calc(var(--unit) * 1.25);
  /* color */
  --color-base: #d03216;
  --color-white: #fff;
  --color-dark: #333;
  --color-gray: #999;
  --color-text: #555;
  --color-alert: #d55353;
  --color-footer: ##eee;
  --color-input-bg: #fafafa;
  --color-action: #dd670c;
  /* dialog */
  --dialog-bg-color: rgba(255, 255, 255, 0.98);
  /* border */
  --border-radius: 6px;
  --border-radius-image: 6px;
  /* shadow */
  --shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  /* z-index */
  --z-header: 90;
  --z-dialog: 100;
  --z-cart: 80;
  --z-cover-loading: 200;
  /* button */
  --button-width: 160px;
  --button-height: 40px;
}

html {
  background-image: var(--bg-pattern);
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
  color: var(--color-text);

  &.-noscroll {
    overflow: hidden;
  }
}

body {
  &.-home {
    background-color: #cac1bb;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.6;
}

/* components */

.Link {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
  &.-disabled {
    pointer-events: none;
    text-decoration: none;
    opacity: 0.6;
  }
}

.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: calc(var(--unit) * 4) calc(var(--unit) * 3);

  &.-home {
    max-width: 1200px;
  }
}
.PageTitle {
  font-size: 32px;
  font-weight: bold;
  padding: calc(var(--unit) * 4) 0 calc(var(--unit) * 8);
}
@media (--sp) {
  .PageTitle {
    font-size: 26px;
    padding: calc(var(--unit) * 2) 0 calc(var(--unit) * 3);
  }
  .Container {
    &.-home {
      max-width: 100%;
    }
  }
}

.ImgContain {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.cart-enter-active,
.cart-leave-active {
  transition: all 0.3s ease;
}

.cart-enter-from,
.cart-leave-to {
  right: 0;
}
